/* Globals */
.footer{
  width: 100%;
}

.links-social{
  margin-bottom: 20px;
}

.links-social i{
  font-size: 32px;
  cursor: pointer;
  transition: all .3s ease;
  margin: 0 5px;
}

.links-social i:hover{
  font-size: 40px;
}

/*  */


.mtop-10{
  margin-top: 10px;
}

.mtop-30{
  margin-top: 30px;
}

.mtop-50{
  margin-top: 50px;
}

.mtop-70{
  margin-top: 70px;
}

.mtop-100{
  margin-top: 100px;
}

.mtop-150{
  margin-top: 150px;
}

.mbottom-30{
  margin-bottom: 30px;
}
.mbottom-50{
  margin-bottom: 50px;
}
.mbottom-60{
  margin-bottom: 60px;
}
.mbottom-70{
  margin-bottom: 70px;
}
.mbottom-80{
  margin-bottom: 80px;
}
